:root {
  --bg-color-dark: #264653;
  --green: #2a9d8f;
  --mustard: #e9c46a;
  --pale-orange: #f4a261;
  --orange: #e76f51;
  --text-light: #fcf8ed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  text-transform: uppercase;
  letter-spacing: 2px;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color-dark);
  color: var(--text-light);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1027px;
  align-self: center;
}

.loading-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 300px;
  height: 300px;
  animation: shake 100ms alternate infinite;
}

.index-copy {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 370px;
}

.maestro {
  color: var(--orange);
  font-weight: 700;
  text-transform: uppercase;
}

.maestros {
  text-decoration: none;
  color: var(--text-light);
  font-size: 14px;
}

.maestros:hover {
  color: var(--bg-color-dark);
}

a {
  text-decoration: none;
  color: #ddd;
}

.ingredient {
  font-style: italic;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e76f51;
  color: var(--bg-color-dark);
  margin-top: 2rem;
}

footer h6 {
  padding: 0 2rem;
  text-align: center;
}

@keyframes shake {
  0% {
    transform: translateX(15px) translateY(-5px);
  }
  100% {
    transform: translateX(-10px) translateY(0);
  }
}
